.header {
  width: 100%;
  position: fixed;
  z-index: 5;
  padding: 14px 0;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-bottom: 0px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.header.scrolled {
  background-color: rgba(12, 12, 12, 0.9);
  border-bottom: 1px solid var(--dark);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.header__section {
  width: 100%;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.header__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__wrapper img {
  max-width: 200px;
  height: 50px;
}

.header__logo_icon {
  width: 100%;
  height: auto;
}

.header__nav_list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__item_link {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: var(--white);
  transition: 0.4s;
}

.header__item_link:hover {
  color: var(--primary);
}

.header__wrapper_options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.header__wrapper_options button {
  padding: 16px 32px !important;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lineTopBottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
  transform: rotate(-45deg);
}

.hamburger input:checked+svg .lineTopBottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.language__selector {
  position: relative;
}

.language__selector_button {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 4px 4px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.4s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.language__list {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--black);
  border: 1px solid #ffffff1a;
  border-radius: 8px;
  padding: 16px;
  z-index: 100;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.arrow {
  width: 10px;
  transition: transform 0.3s ease;
}

.arrow svg {
  width: 10px;
  height: 10px;
}

.arrowUp {
  transform: rotate(-90deg);
}

.arrowDown {
  transform: rotate(90deg);
}

.language__list_item {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: var(--white);
  transition: background-color 0.3s ease;
}

.language__list_item:hover {
  background-color: var(--black);
}

.language__item_flag {
  width: 20px;
  height: 16px;
}

.language__item_name {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--white);
  transition: 0.4s;
  position: relative;
  white-space: nowrap;
}

.language__item_name:hover {
  color: var(--primary);
}

.language__item_name::before,
.language__item_name::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.language__item_name::before {
  content: "";
}

.language__item_name::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.language__item_name:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.header__wrapper_nav .header__wrapper_options {
  display: none;
}

.header__mobile_burger {
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.header__burger_bar {
  width: 24px;
  height: 2px;
  border-radius: 50px;
  background: var(--white);
  transition: all 0.3s ease-in-out;
}

.header__mobile_burger.active .header__burger_bar:nth-child(2) {
  opacity: 0;
}

.header__mobile_burger.active .header__burger_bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.header__mobile_burger.active .header__burger_bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 1000px) {
  .header__wrapper_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--black);
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__wrapper_nav.active {
    opacity: 1;
    pointer-events: visible;
  }

  .header__wrapper_nav {
    flex-direction: column;
    gap: 40px;
  }

  .header__wrapper_nav>ul {
    flex-direction: column;
    gap: 28px;
  }

  .header__mobile_burger {
    display: flex;
  }

  .header__wrapper_options {
    display: none;
  }

  .header__wrapper_nav .header__wrapper_options {
    display: flex;
    flex-direction: column-reverse;
    gap: 28px;
  }

  .header__wrapper img {
    max-width: 180px;
  }
}

@media (max-width: 600px) {
  .header__wrapper img {
    max-width: 140px;
  }
}

@media (max-width: 500px) {
  .header__wrapper_logo {
    max-width: 140px;
  }
}