.seconddary__button {
  position: relative;
  padding: 10px 12px;
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: var(--white);
  transition: 0.4s all ease-in-out;
  overflow: hidden;
}


.seconddary__button:after, .seconddary__button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #fff;
  transition: 0.4s;
}

.seconddary__button:before {
  left: -200%;
}

.seconddary__button:hover::after {
  left: 100%;
}

.seconddary__button:hover::before {
  left: 0%;
}