.footer {
  width: 100%;
}

.footer__section {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  border-top: 1px solid #ffffff1a;
  position: relative;
}

.footer__section_vector {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 110px;
  z-index: 1;
}

.footer__section_vector img {
  width: 100%;
  height: 100%;
}

.footer_wrapper {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.footer__wrapper_main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__main_contact {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__contact_logo {
  max-width: 200px;
}

.footer__contact_logo img {
  width: 100%;
  height: 100%;
}

.footer__contact_block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__block_item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__item_text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--gray);
  transition: 0.4s;
  position: relative;
  white-space: nowrap;
}

.footer__item_text:hover {
  color: var(--primary);
}

.footer__item_text::before,
.footer__item_link::before,
.footer__item_text::after,
.footer__item_link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.footer__item_link__active {
  color: var(--primary);
}

.footer__item_link::before,
.footer__item_text::before {
  content: "";
}

.footer__item_link::before,
.footer__item_text::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.footer__item_text:hover::before,
.footer__item_link:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.footer__main_info {
  display: flex;
  gap: 110px;
}

.footer__info_block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__block_menu a {
  color: var(--gray);
}

.footer__block_menu,
.footer__block_security {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__item_link {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--gray);
  transition: 0.4s;
  position: relative;
  white-space: nowrap;
}

.footer__item_link:hover {
  color: var(--primary);
}

.footer__item_link:hover::after {
  transform: translateX(-50%) scale(1);
}

.footer__block_subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--white);
}

.footer__block_socials {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__block_socials a {
  cursor: pointer;
}

.footer__wrapper_bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 46px 0;
  border-top: 1px solid #ffffff1a;
}

.footer__bottom_reserved {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: var(--gray);
}

.footer__social_item {
  transition: 0.3s;
}

.footer__social_item:hover {
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  .footer__wrapper_main {
    flex-direction: column;
    gap: 80px;
  }
}

@media (max-width: 1000px) {
  .footer__contact_logo {
    max-width: 180px;
  }
}

@media (max-width: 800px) {
  .footer__main_info {
    flex-direction: column;
    gap: 60px;
  }
}

@media (max-width: 600px) {
  .footer__main_contact {
    gap: 20px;
  }

  .footer__section {
    padding-top: 40px;
  }

  .footer__wrapper_bottom {
    padding: 30px;
  }

  .footer__wrapper {
    gap: 60px;
  }

  .footer__main_info {
    gap: 40px;
  }

  .footer__wrapper_main {
    gap: 60px;
  }

  .footer__contact_logo {
    max-width: 140px;
  }

  .footer_wrapper {
    gap: 40px;
  }
}