.footer,
.footer_light {
  width: 100%;
}

.footer_light {
  background: #fff;
}

.footer_light .footer__contact_block svg path {
  fill: var(--white);
}

.footer_light .footer__section_vector {
  display: none;
}

.footer__section {
  width: 100%;
  padding-top: 100px;
  border-top: 1px solid #ffffff1a;
  position: relative;
}

.footer_light .footer__section {
  border-top: 1px solid var(--white);
}

.footer__section_vector {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 110px;
  z-index: 1;
}

.footer__section_vector img {
  width: 100%;
  height: 200px;
}

.footer_wrapper {
  position: relative;
  z-index: 4;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.footer__wrapper_main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__main_contact {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__contact_logo {
  max-width: 180px;
}

.footer__contact_logo img {
  width: 100%;
  height: 40px;
}

.footer__contact_block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__block_item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__item_text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--gray);
  transition: 0.4s;
  position: relative;
  white-space: nowrap;
}

.footer__item_text:hover {
  color: var(--primary);
}

.footer__item_text::before,
.footer__item_link::before,
.footer__item_text::after,
.footer__item_link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.footer__item_link__active {
  color: var(--primary);
}

.footer__item_link::before,
.footer__item_text::before {
  content: "";
}

.footer__item_link::before,
.footer__item_text::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.footer__item_text:hover::before,
.footer__item_link:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.footer__main_info {
  display: flex;
  gap: 110px;
}

.footer__info_block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__block_menu a {
  color: var(--gray);
}

.footer__block_menu,
.footer__block_security {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__item_link {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--gray);
  transition: 0.4s;
  position: relative;
  white-space: nowrap;
}

.footer__item_link:hover {
  color: var(--primary);
}

.footer__item_link:hover::after {
  transform: translateX(-50%) scale(1);
}

.footer__block_subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--white);
}

.footer__block_socials {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__block_socials a {
  cursor: pointer;
}

.footer__wrapper_bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 46px 0;
  border-top: 1px solid #ffffff1a;
  position: relative;
}

.footer_light .footer__wrapper_bottom {
  border-top: 1px solid var(--white);
}

.footer_light .footer__section_vector {
  opacity: 0;
}

.footer__bottom_reserved {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #ffffff33;
}

.footer_light .footer__bottom_reserved {
  color: var(--white);
}

.footer__social_item {
  transition: 0.3s;
}

.footer__social_item:hover {
  transform: scale(1.2);
}

.footer__bottom_theme {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ui_switch {
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  --circle-diameter: 32px;
  --circle-bg: var(--primary);
  --circle-offset: calc((var(--switch-width) - var(--circle-diameter)) / 2);
}

.ui_switch input {
  display: none;
}

.slider {
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  position: absolute;
  top: 50%;
  left: var(--circle-offset);
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  background: var(--circle-bg);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
}

.ui_switch input:checked+.slider .circle {
  transform: translate(calc(var(--switch-width) - var(--circle-diameter) - var(--circle-offset)), -50%);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
  background-color: var(--primary);
}

.ui_switch input:active+.slider .circle::before {
  opacity: 1;
}

@media (max-width: 1024px) {
  .footer__wrapper_main {
    flex-direction: column;
    gap: 80px;
  }
}

@media (max-width: 1000px) {
  .footer__contact_logo {
    max-width: 180px;
  }
}

@media (max-width: 800px) {
  .footer__main_info {
    flex-direction: column;
    gap: 60px;
  }
}

@media (max-width: 768px) {
  .footer__bottom_theme {
    right: auto;
    left: 0;
  }
}

@media (max-width: 600px) {
  .footer__main_contact {
    gap: 20px;
  }

  .footer__section {
    padding-top: 40px;
  }

  .footer__wrapper_bottom {
    padding: 30px;
    flex-direction: column;
    gap: 40px;
  }

  .footer__bottom_theme {
    position: relative;
    right: 0;
  }

  .footer__wrapper {
    gap: 60px;
  }

  .footer__main_info {
    gap: 40px;
  }

  .footer__wrapper_main {
    gap: 60px;
  }

  .footer__contact_logo {
    max-width: 140px;
  }

  .footer_wrapper {
    gap: 40px;
  }
}