.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 7;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.contact__popup_wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contact__wrapper_close {
  position: absolute;
  top: 40px;
  right: 40px;
  background: transparent;
  border: none;
  outline: none;
}
.contact__wrapper_heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact__heading_title {
  font-size: 32px;
  font-weight: 500;
  line-height: 46px;
  color: var(--white);
  text-align: center;
}
.contact__heading_subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--white);
  text-align: center;
}
.contact__wrapper_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contact__wrapper_fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact__fields_block {
  width: 100%;
  height: 60px;
  background: #1c1c1c;
  border: 1px solid #1c1c1c;
  border-radius: 12px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact__block_input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--gray);
}
.contact__block_input:focus {
  background: transparent;
  outline: none;
}
.contact__wrapper_action {
  width: 100%;
}
.contact__action_button {
  width: 100%;
  padding: 20px 0;
  background: var(--white);
  border: none;
  border-radius: 12px;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: var(--black);
  transition: 0.4s;
}
.contact__fields_block.error,
.contact__fields_block.error,
.contact__fields_block.error {
  border: 1px solid var(--red);
}
.contact__form_agree {
  width: 100%;
}
.contact__block_agree {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--gray);
}
.contact__agree_link {
  color: var(--primary);
  text-decoration: underline;
}

@media (max-width: 640px) {
  .contact__fields_block {
    padding: 10px 14px;
    gap: 18px;
    height: 52px;
  }
  .contact__wrapper_close {
    top: 24px;
    right: 24px;
  }
  .contact__wrapper_heading {
    align-items: center;
  }
  .contact__heading_subtitle {
    width: 90%;
  }
  .contact__wrapper_form {
    gap: 28px;
  }
  .contact__wrapper_fields {
    gap: 16px;
  }
}
