.project__galery_section {
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 140px;
}
.project__galery_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.project__wrapper_banners {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 20px;
}
.project__banners_item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.project__banners_item:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}
.project__banners_item:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}
.project__banners_item:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 4 / 6;
}
.project__item_img {
  width: 100%;
  height: 340px;
  border-radius: 8px;
}
.project__wrapper_result {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.project__inner_block {
  width: 75%;
  display: flex;
}
.project__block_subtitle {
  width: 35%;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  color: var(--white);
}
.project__result_info {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project__block_text {
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  color: var(--white);
  font-weight: 400;
}
