.contact__block,
.contact__block_light {
  width: 100%;
  background: var(--second-dark);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  padding: 40px;
}

.contact__block_light {
  background: #fff;
}

.contact__block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding: 1px;
  background: linear-gradient(
    89.96deg,
    #30cc7100 15.05%,
    #30cc71 23.12%,
    #30cc71 48.29%,
    #30cc71 54.75%,
    #30cc71 61.9%,
    #30cc7100 88.62%,
    #30cc7100 101.04%,
    #30cc7100 118.56%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.contact__block_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact__block_form label {
  display: none;
}

.contact__form_fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact__fields_block {
  width: 100%;
  height: 60px;
  background: #1c1c1c;
  border: 1px solid #1c1c1c;
  border-radius: 12px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.4s;
}

.contact__fields_block:hover,
.contact__fields_textarea:hover {
  border-color: var(--primary);
}

.contact__block_light .contact__fields_block,
.contact__block_light .contact__fields_textarea {
  background: var(--black);
  border: 1px solid var(--black);
}

.contact__block_light svg path {
  fill: var(--white);
}

.contact__fields_textarea {
  width: 100%;
  background: #1c1c1c;
  border: 1px solid #1c1c1c;
  border-radius: 12px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.4s;
}

.contact__block_input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--gray);
}

.contact__block_input:focus {
  background: transparent;
  outline: none;
}

.contact__block_file {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--gray);
}

.contact__fields_services {
  width: 100%;
  gap: 20px;
}

.contact__services_item {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ffffff0d;
  border: 1px solid #ffffff0d;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--gray);
  transition: 0.4s;
}

.contact__services_item:hover {
  color: var(--white);
  border-color: var(--white);
}

.contact__services_item.selected {
  background: var(--white);
  color: var(--black);
}

.contact__block_textarea {
  width: 100%;
  height: 148px;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--gray);
}

.contact__form_action {
  width: 100%;
}

.contact__form_action button {
  width: 100%;
}

.contact__action_button {
  width: 100%;
  padding: 20px 0;
  background: var(--white);
  border: none;
  border-radius: 12px;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: var(--black);
  transition: 0.4s;
}

.contact__fields_block.error,
.contact__fields_block.error,
.contact__fields_block.error {
  border: 1px solid var(--red);
}

.contact__form_agree {
  width: 100%;
}

.contact__block_agree {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--gray);
}

.contact__agree_link {
  color: var(--primary);
  text-decoration: underline;
}

@media (max-width: 1160px) {
  .contact__fields_services {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .contact__block {
    border-radius: 15px;
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .contact__block::before {
    border-radius: 15px;
  }

  .contact__fields_block {
    padding: 10px 14px;
    gap: 18px;
    height: 52px;
  }

  .contact__fields_block svg {
    width: 20px;
  }

  .contact__block_textarea {
    height: 120px;
  }

  .contact__fields_textarea {
    padding: 10px 14px;
  }

  .contact__fields_services {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact__services_item {
    padding: 16px;
  }

  .contact__form_fields,
  .contact__fields_services {
    gap: 16px;
  }

  .contact__block_form {
    gap: 28px;
  }
}
