.project__banner_section {
  width: 100%;
  height: 480px;
}
.project__banner_wrapper {
  width: 100%;
  height: 100%;
}
.project__banner_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

@media (max-width: 1240px) {
  .project__banner_section {
    padding-left: 0;
    padding-right: 0;
  }
}
