.faq__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.faq__wrapper_main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 82px 60px 82px;
  position: relative;
}
.faq__main_list {
  width: 680px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.faq__main_item {
  width: 100%;
  background: var(--second-dark);
  padding: 12px 12px 12px 24px;
  border-radius: 30px;
  border: 1px solid #ffffff1a;
  display: flex;
  flex-direction: column;
  gap: 0;
  transition: gap 0.4s;
  cursor: pointer;
}
.faq__item_inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq__inner_title {
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  line-height: 22px;
}
.faq__inner_circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #ffffff0d;
  border: 1px solid #ffffff1a;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq__item_content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
}
.faq__main_item.active .faq__item_content {
  max-height: 200px;
}
.faq__main_item.active {
  gap: 12px;
}

.faq__main_item svg {
  transition: 0.4s;
}

.faq__main_item.active svg {
  transform: rotate(45deg);
}
.faq__content_text {
  width: 90%;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray);
  line-height: 22px;
}
.faq__main_grid {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 210px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.faq__main_grid img {
  width: 100%;
  height: 580px;
}

@media (max-width: 1000px) {
  .faq__wrapper_main {
    padding: 0;
  }
  .faq__main_grid img {
    width: 100%;
    min-height: 600px;
    object-fit: cover;
  }
}
