.reviews__block,
.reviews__block_light {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.reviews__block_slider {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.reviews__slider_track,
.reviews__slider_track_right {
  display: flex;
  align-items: center;
  width: max-content;
  animation: anim 30s linear infinite;
}

.reviews__slider_track_right {
  animation: animRight 30s linear infinite;
}

.reviews__slider_track:hover,
.reviews__slider_track_right:hover {
  animation-play-state: paused;
}

.reviews__track_item {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 20px;
  padding: 20px;
  background: var(--second-dark);
  border-radius: 12px;
  border: 1px solid #ffffff1a;
  margin-right: 20px;
}

.reviews__block_light .reviews__track_item {
  background: #fff;
}

.reviews__header_inner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviews__inner_logo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-position: center center;
}

.reviews__item_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews__inner_name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: var(--gray);
}

.reviews__header_date {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: var(--gray);
}

.reviews__item_main {
  width: 100%;
  height: 40px;
  overflow: scroll;
}

.reviews__item_main::-webkit-scrollbar {
  display: none;
}

.reviews__main_text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: var(--white);
}

@media (max-width: 1240px) {
  .reviews__block {
    width: calc(100% + 32px);
    margin-left: -16px;
  }
}

@media screen and (max-width: 768px) {
  .reviews__track_item {
    width: 260px;
  }

  .reviews__item_main {
    height: 60px;
  }
}

@keyframes anim {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes animRight {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 600px) {
  .reviews__track_item {
    gap: 14px;
    padding: 14px;
  }
}
