.quick__contacts_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.quick__wrapper_top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  left: 28px;
  bottom: 90px;
  z-index: 5;
}
.quick__top_circle {
  width: 38px;
  height: 38px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.quick__top_circle.telegram {
  background: #2bacef;
}
.quick__top_circle.whatsapp {
  background: #60d669;
}
.quick__top_circle.viber {
  background: #6f3faa;
}
.quick__wrapper_inner {
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  left: 28px;
  bottom: 28px;
  z-index: 5;
}
.quick__inner_line {
  width: 100%;
  height: 52px;
  background: var(--primary-gradient);
  border-radius: 12px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.quick__line_info {
  display: flex;
  flex-direction: column;
}
.quick__line_animation {
  display: flex;
  position: relative;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.quick__line_icon {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out;
  opacity: 1;
  animation: slideIcon 6s infinite;
  animation-fill-mode: forwards;
}

.quick__line_icon.icon2:nth-child(2),
.quick__line_icon.icon2:nth-child(4) {
  animation-delay: 3s;
}
.quick__info_text {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: var(--white);
}
.quick__inner_call {
  min-width: 52px;
  min-height: 52px;
  background: var(--primary-gradient);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  transition: 0.4s;
  cursor: pointer;
  -webkit-box-shadow: 0 8px 10px rgba(38, 150, 168, 0.3);
  box-shadow: 0 8px 10px rgba(38, 150, 168, 0.3);
  animation: hoverWave linear 1s infinite;
}

@keyframes hoverWave {
  0% {
    -webkit-box-shadow: 0 8px 10px rgba(38, 150, 168, 0.3),
      0 0 0 0 rgba(38, 150, 168, 0.2), 0 0 0 0 rgba(38, 150, 168, 0.2);
    box-shadow: 0 8px 10px rgba(38, 150, 168, 0.3),
      0 0 0 0 rgba(38, 150, 168, 0.2), 0 0 0 0 rgba(38, 150, 168, 0.2);
  }
  40% {
    -webkit-box-shadow: 0 8px 10px rgba(38, 150, 168, 0.3),
      0 0 0 10px rgba(38, 150, 168, 0.2), 0 0 0 0 rgba(38, 150, 168, 0.2);
    box-shadow: 0 8px 10px rgba(38, 150, 168, 0.3),
      0 0 0 10px rgba(38, 150, 168, 0.2), 0 0 0 0 rgba(38, 150, 168, 0.2);
  }
  80% {
    -webkit-box-shadow: 0 8px 10px rgba(38, 150, 168, 0.3),
      0 0 0 20px rgba(38, 150, 168, 0), 0 0 0 18px rgba(38, 150, 168, 0.067);
    box-shadow: 0 8px 10px rgba(38, 150, 168, 0.3),
      0 0 0 20px rgba(38, 150, 168, 0), 0 0 0 18px rgba(38, 150, 168, 0.067);
  }
  100% {
    -webkit-box-shadow: 0 8px 10px rgba(38, 150, 168, 0.3),
      0 0 0 20px rgba(38, 150, 168, 0), 0 0 0 30px rgba(38, 150, 168, 0);
    box-shadow: 0 8px 10px rgba(38, 150, 168, 0.3),
      0 0 0 20px rgba(38, 150, 168, 0), 0 0 0 30px rgba(38, 150, 168, 0);
  }
}

@keyframes slideIcon {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  70% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .quick__contacts_block {
    position: fixed;
    left: 16px;
    bottom: 16px;
    z-index: 5;
  }
}

@media (max-width: 768px) {
  .quick__inner_line {
    display: none;
  }
  .quick__inner_call {
    min-width: 38px;
    min-height: 38px;
  }
  .quick__wrapper_top {
    right: 16px;
    left: auto;
    bottom: 76px;
  }
  .quick__wrapper_inner {
    right: 16px;
    left: auto;
  }
  .quick__inner_call svg {
    width: 18px;
  }
}

@media (max-width: 600px) {
  .quick__contacts_block {
    position: fixed !important;
    right: 16px !important;
    left: auto;
    bottom: 16px !important;
    z-index: 4 !important;
  }
}
