.project__mockup_section {
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}
.project__mockup_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.project__info_block {
  width: 100%;
  display: flex;
}
.project__block_subtitle {
  width: 24%;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  color: var(--white);
}
.project__block_text {
  width: 48%;
  font-size: 16px;
  line-height: 22px;
  color: var(--white);
  font-weight: 400;
}
.project__wrapper_inner {
  width: 100%;
  height: 100%;
}
.project__inner_mockup {
  width: 100%;
  height: 100%;
}
